</div>
<div class="footer-padding">
  <footer>
      Connect with me on Insta <strong><em><a href="http://instagram.com/pritam19.d"
            target="_blank">@pritam19.d</a></em></strong>
  </footer>
</div>
</div>
</body>

</html>